<md-dialog ng-cloak flex="80" class="tc-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools tc-toolbar-tools">
            <h2>Summary ingredients</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="onClickCancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <section>
            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Required ingredients for selected recipes</md-subheader>
                    <md-list-item ng-repeat="i in ingredients" ng-click="null">
                        <md-icon style="margin:0" class="material-icons">keyboard_arrow_right</md-icon><p>{{ i }}</p>
                    </md-list-item>
                </md-list>
            </md-content>
            <div flex="100" layout="row" layout-align="center stretch">
                <md-button ng-click="onClickOk()" class="md-raised md-primary">Ok</md-button>
            </div>
        </section>
    </md-dialog-content>
</md-dialog>
