<div layout="column" flex="95" layout-align="start stretch">
    <recipes-actions on-search="onSearch(filters)" on-action="onRecipeAdd(action)"></recipes-actions>
    <recipes-selection ng-show="selectedRecipesCount"
                       selected-recipes-count="selectedRecipesCount" on-unselect-all="onUnselectAll()" on-show="onShowAggIngredients()"></recipes-selection>
    <recipes-list recipes="recipes" on-select="onRecipeSelect(recipe)"
                  on-view="onRecipeView(recipe)" on-edit="onRecipeEdit(recipe)" on-delete="onRecipeDelete(recipe)"></recipes-list>
    <div ng-hide="recipes.length" class="ng-cloak">
        <h2>No recipes!</h2>
    </div>
</div>
