html, body {
  color: $tc-color-text;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color: $tc-color-text;
}

.md-button {
  color: $tc-color-text;
}

.tc-toolbar-content {
  color: $tc-color-head !important;
  background-color: transparent !important;
}

.tc-content {

}

.tc-font-small {
  font-size: 0.85em;
}

.tc-font-large {
  font-size: 1.25em;
}

.tc-space-between {

}

#loading-bar .bar {
  background: $tc-color-text;
}


@media screen and (min-width: 600px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  .tc-padding-right-sm {
    padding-right: 0.5rem;
  }
  .tc-padding-left-sm {
    padding-left: 0.5rem;
  }
}

.tc-buttons-submit-bg {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.tc-input-group {
  @extend .tc-input;

  .tc-input-name {
    padding-right: 0.25rem;
  }
  .flex-27 {
    -webkit-flex: 1 1 27%;
    -ms-flex: 1 1 27%;
    flex: 1 1 27%;
    max-width: 27%;
    max-height: 100%;
    box-sizing: border-box;
  }
  .flex-35 {
    -webkit-flex: 1 1 35%;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    max-width: 35%;
    max-height: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 600px) {
  .tc-input {
    margin: 0;

    .tc-input-name {
      text-align: right;
      padding-top: 0.4rem;
      &.tc-font-large {
        padding-top: 0.2rem;
      }
    }
    .tc-input-list {
      width: 90%;
    }
  }
  .tc-buttons-submit-bg {
    margin-top: 2rem;
    justify-content: flex-start;
  }
}

.tc-dialog-sm {
  min-width: 400px;
}

.tc-dialog {
  max-height: 86%;

  .tc-toolbar-tools {
    h2 {
      color: #ffffff;
      font-size: 1.5rem;
    }
  }

  .md-button {

  }
}

.tc-main {
  padding: 20px;
  position: relative;
  //margin-top: -64px;
  top: 0;
  min-height: 100vh;
  width: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  .quote {
    font-size: 2rem;
    font-weight: 700;
    color: $tc-color-text;
  }

  .author {
    display: block;
    float: right;
    margin-right: 0.9rem;
    font-size: 1.6rem;
  }
}

main-menu {
  display: flex;
  overflow: visible !important;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

