.md-sidenav-left {
  width: 260px;
  max-width: 260px;
  transition: max-width 0.1s ease-in;
  background-color: $tc-bg-additional;

  .login-btns {
    margin: 1em 0 0;
  }

  .tc-left-toolbar {
    background-color: $tc-color-head;

    .md-toolbar-tools {
      padding-top: 0.3rem;
      padding-bottom: 0.15rem;
      justify-content: space-between;
    }

    a.logo {
      display: inline-block;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .md-icon-button {
      padding: 5px;
      min-width: 34px;
      min-height: 34px;
      height: 34px;
      transform: rotate(0deg);
    }
  }

  .menu {
    padding: 0;

    &>li {
      border-bottom: 1px solid #cccccc;
    }

    .md-button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0.2rem 1rem;
      text-align: left;
      border-radius: 0;
      color: #4d4d4d;

      md-icon {
        height: 36px;
        line-height: 33px;
        text-align: center;

        &:before {
          font-size: 22px;
          width: 24px;
          text-align: center;
          display: inline-block;
        }
      }

      span {
        display: inline-block;
        margin-left: 4px;
      }

      &.tc-button-submenu {
        &:after {
          content: '\f078';
          font-family: FontAwesome;
          position: absolute;
          top: 4px;
          right: 15px;
          color: #707070;
          transform: rotate(0deg);
          transition: 0.15s ease-in;
        }

        &.open:after {
          transform: rotate(-180deg);
          transition: 0.25s ease-in;
        }
      }
    }

    .submenu {
      padding: 0;
      max-height: 0;
      transition: max-height 0.2s ease-out;
      overflow: hidden;

      .md-button {
        padding-left: 3.4rem;
        font-size: 0.84rem;
        color: #4d4d4d;
      }

      &.open {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  md-sidenav {
    max-width: 260px; } }


.md-sidenav-left.tc-left-sidenav-main-min {
  max-width: 60px;
  overflow: visible;
  //    transition: max-width 0.1s ease-in;

  .tc-left-toolbar {

    .md-toolbar-tools {
      justify-content: center;
    }

    a.logo {
      display: none;
    }

    .md-icon-button {
      margin: 0;
      transform: rotate(180deg);
      transition: 0.15s ease-in;
    }
  }

  .menu {

    &>li {
      border-bottom: 0 none;
      position: relative;
      height: 40px;
      margin: 2px 0;

      &>.md-button {
        width: auto;
        min-width: 1px;
        z-index: 1000;
        position: absolute;
        overflow: visible;
        background: $tc-bg-additional;
        border: 1px solid transparent;
        border-left-width: 0px;
        padding: 0;
        height: 40px;

        md-icon {
          height: 36px;
          line-height: 33px;
          width: 59px;
          text-align: center;
        }

        span {
          display: none;
        }

        &.tc-button-submenu {
          &:after {
            content: '';
          }
        }
      }

      .submenu {
        opacity: 0;
      }

      &:hover {
        &>.md-button {
          border-color: #cccccc;

          span {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
          }

          &.tc-button-submenu {
            width: 210px;
          }

          + .submenu {
            opacity: 1;
            padding: 0;
            height: auto;
            max-height: none;
            overflow: hidden;
            position: relative;
            left: 60px;
            top: 39px;
            width: 150px;
            background: $tc-bg-additional;
            border-right: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            box-sizing: border-box;
            z-index: 1000;

            .md-button {
              padding-left: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .md-sidenav-left {

    .tc-left-toolbar {

      a.logo {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#ajax-spinner {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color: #999;
  opacity: .4;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}
