.tc-top-toolbar {
  background-color: $tc-bg-additional !important;

  h2 {
    color: $tc-color-head;
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  md-icon {
    color: $tc-color-head !important;
  }

  .login-btns {
    margin-left: auto;

    .md-button {
      background-color: $tc-color-head !important;
    }
  }
}
