right-panel {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;

  .md-sidenav-backdrop {
    position: fixed;
  }
}

.tc-fab-right {
  position: fixed !important;
}

.tc-right-panel-sidenav {
  height: 100%;
  position: fixed;

  md-toolbar {
    background-color: $tc-color-head;

    .md-toolbar-tools {
      padding-top: 0.3rem;
      padding-bottom: 0.15rem;
      justify-content: space-between;
      color: #ffffff;
    }
  }
}