<md-sidenav md-component-id="mainMenu" class="md-sidenav-left tc-left-sidenav-main"
            md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4"
            ng-class="{'tc-left-sidenav-main-min': $ctrl.mdMedia('md')}">
  <md-toolbar class="tc-left-toolbar">
    <div class="md-toolbar-tools">
      <a class="logo" href="#/"><img src="/images/logo.png"></a>
      <md-button class="md-icon-button" aria-label="Toggle Menu" ng-click="$ctrl.accordionMenu()" hide show-gt-sm>
        <md-icon class="material-icons">chevron_left</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <ul class="menu">
    <li>
      <md-button href="#/">
        <md-icon class="material-icons">home</md-icon>
        <span>Home</span>
      </md-button>
    </li>
  </ul>
</md-sidenav>
