<md-toolbar class="tc-top-toolbar" md-whiteframe="1">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Open Menu" data-ng-click="$ctrl.toggleLeftMenu()" hide-gt-sm>
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2 data-ng-bind="$ctrl.title"></h2>
  </div>
  <progress-bar></progress-bar>
</md-toolbar>