<md-dialog ng-cloak flex="80" class="tc-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools tc-toolbar-tools">
            <h2 data-ng-bind="headerTitle"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="onClickCancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <section>
            <form name="editorForm" layout="row">
                <div layout="column" flex="100" layout-align="start">
                    <md-input-container class="md-block tc-input-container">
                        <label>Name</label>
                        <input required md-autofocus md-no-asterisk type="text" name="name" ng-model="recipe.name" aria-label="name">

                        <div ng-messages="editorForm.name.$error" ng-if="editorForm.name.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" ng-class="{'md-input-invalid': !recipe.ingredients.length}">
                        <label>Ingredients</label>
                        <md-chips required name="ingredients" ng-model="recipe.ingredients" md-removable="true"
                                  md-enable-chip-edit="true"></md-chips>
                        <div ng-messages="{required: !recipe.ingredients.length}">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block tc-input-container" flex="100">
                    <label>Instruction</label>
                <textarea required name="instruction" md-no-asterisk ng-model="recipe.instruction"
                          aria-label="instruction"></textarea>

                    <div ng-messages="editorForm.instruction.$error" ng-if="editorForm.instruction.$dirty">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </form>
            <div flex="100" layout="row" layout-align="center stretch">
                <md-button ng-click="onClickOk(editorForm.$valid)" class="md-raised md-primary">OK</md-button>
                <md-button ng-click="onClickCancel()" class="md-raised">Cancel</md-button>
            </div>
        </section>
    </md-dialog-content>
</md-dialog>
