<md-dialog ng-cloak flex="80" class="tc-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools tc-toolbar-tools">
            <h2>Recipe</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="onClickCancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <section layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="{{recipe.image_path}}" class="md-card-image" alt="Recipe Image">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text style="margin-left:20px">
                        <span class="md-headline" ng-bind="recipe.name"></span>
                        <span class="md-subhead" ng-bind="recipe.ingredients"></span>
                        <p ng-bind-html="recipe.instruction"></p>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <div style="text-align: center">
                <md-button ng-click="onClickOk()" class="md-raised md-primary">OK</md-button>
            </div>
        </section>
    </md-dialog-content>
</md-dialog>
