<div layout="row" layout-md="column" layout-align="space-between center" layout-wrap>
    <recipes-search flex="50" on-search="$ctrl.onSearch({filters:filters})"></recipes-search>
    <md-button class="md-fab md-primary" aria-label="New" ng-click="$ctrl.onAction({action:'new'})">
        <md-icon class="material-icons">add</md-icon>
    </md-button>
</div>