<md-list layout="column">
    <md-list-item ng-repeat="recipe in $ctrl.recipes" ng-click="$ctrl.onView({recipe:recipe})" class="noright md-2-line" flex="100">
        <img alt="{{ recipe.name }}" ng-src="{{ recipe.image_path }}" class="md-avatar" />
        <div class="md-list-item-text">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.ingredients.join(', ') }}</p>
        </div>
        <md-checkbox class="md-secondary" ng-click="$ctrl.onSelect({recipe:recipe})" ng-model="recipe.selected" aria-label="selected"></md-checkbox>
        <md-icon class="material-icons md-secondary md-primary" aria-label="edit" ng-click="$ctrl.onEdit({recipe:recipe})">edit</md-icon>
        <md-icon class="material-icons md-secondary md-warn" aria-label="delete" ng-click="$ctrl.onDelete({recipe:recipe})">delete</md-icon>
    </md-list-item>
</md-list>
