<form ng-submit="$ctrl.search()">
    <md-input-container>
        <label>Name</label>
        <input ng-model="$ctrl.filters.name">
    </md-input-container>
    <md-button class="send md-icon-button" type="submit">
        <md-icon class="material-icons">search</md-icon>
    </md-button>
</form>
