<div>
    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right tc-fab-right">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <span data-ng-bind="$ctrl.selectedRecipesCount"></span>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Print" class="md-fab md-raised md-mini" ng-click="$ctrl.onShow()">
                <md-icon class="material-icons" aria-label="Print">list</md-icon>
            </md-button>
            <md-button aria-label="Menu" class="md-fab md-raised md-mini" ng-click="$ctrl.onUnselectAll()">
                <md-icon class="material-icons" aria-label="Menu">clear</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
